/*
* MES ADMIN
*
* Afriq Yasin Ramadhan
*/

 @font-face {
			font-family: segoeui;
			src: url('../../fonts/segoeui.ttf');
		}
@font-face {
			font-family: segoeuib;
			src: url('../../fonts/segoeuib.ttf');
		}        
 
body {
    padding-top: 60px;
	background:#fafafa;
    background: url(../../img/body-bg.png) repeat;
    font-family:segoeui;
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
    overflow: -webkit-scrollbars-vertical;
    overflow: -o-scrollbars-vertical;
}    


/* .: NAVIGASI :. */
    
.navbar-inner {
  min-height: 30px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: -moz-linear-gradient(top, #fff, #fafafa);
  background-image: -ms-linear-gradient(top, #fff, #fafafa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #fff, #fafafa);
  background-image: -o-linear-gradient(top, #fff, #fafafa);
  background-image: linear-gradient(top, #fff, #fafafa);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
 border-top:1px solid #ccc;
}

.navbar .divider-vertical {
  width: 1px;
  height: 40px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #f0f0f0 !important;
  border-right: 1px solid #aaa !important;
}

.navbar .nav > li > a {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #888;
  text-decoration: none;
  background:none;
  transition:color 0.5s;
  -moz-transition:color 0.5s;
  -webkit-transition:color 0.5s;
  -o-transition:color 0.5s;
  text-shadow : none !important;
}

.navbar .nav > li > a:hover {
  color: #000;
  text-decoration: none;
  background-color: none;
  background:none;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #000;
  text-decoration: none;
  background:none;
  /*background-color: #222222;*/
}

.navbar-search .search-query {
  padding: 3px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
  background-color: #eee;
  border: 1px solid #ccc;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.navbar-search .search-query:-moz-placeholder {
  color: #888;
  font-style:italic;
}

.navbar-search .search-query::-webkit-input-placeholder {
  color: #888;
  font-style: italic;
}

.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
  padding: 4px 10px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 1px 1px #ccc !important;
     -moz-box-shadow: 0 0 1px 1px #ccc !important;
          box-shadow: 0 0 1px 1px #ccc !important;
}

.navbar .brand {
  padding: 6px 20px 8px;
  margin-left: -20px;
}

.brand img{
    max-width:155px;
    height:22px;
}

.navbar-fixed-top .nav .gravatar a,.navbar-fixed-top .nav .gravatar a:hover {
background: url(../../img/gravatar.jpg) left 5px no-repeat;
background-size:100%;
height: 15px;
width: 10px;
margin-right: -2px;
}


/* .: SIDEBAR MENU :. */

.nav-tabs.nav-stacked > li > a {
  background:#fff;
  border: 1px solid #cacaca !important;
}

.nav-tabs.nav-stacked > li > a:hover {
  background: #f5f5f5;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background-color: #f5f5f5 !important;
  color:#333 !important;
  font-family:segoeuib;
}

.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.nav-headers{
    background:#fff;
    border:1px solid #cacaca;
    border-bottom: none;
    min-height:30px;
    padding:10px 15px 10px;
    text-align:center;
    border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    -o-border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
}

.nav-headers h3{
    font-weight:lighter;
}

/* .: CONTENT :. */

.content-inner{
    min-width: 90%;
    max-width: 100%;
    min-height:30px;
    margin: 0 10px 10px 10px !important;
    padding-top:10px !important;
}

/* .: BOX :. */

.box{
    margin-bottom: 20px;
}

.box-head{
    height:40px;
    background:#333;
    color:#fff;
    font-weight:bold;
    border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    -o-border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    border:1px solid #444;
}

.box-head h3{
    margin-left:20px;
    margin-top:5px;
}

.box-content{
    border-width: 0 1px 1px 1px;
    border-style:solid;
    border-color:#cacaca;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    background:#fff;
    min-height:50px;
}

/* HR */

hr.alt {
border-top: 1px solid #CCC !important;
border-bottom: 1px solid white !important;
}

h4{
    font-size:16px;
}

.alert-warning a{
    color:#F89406;
}

.marg20-btm{
    margin-bottom:20px !important;
}

.smalls{
    font-size:11px;
    color:#888;
}

strong{
    font-family:segoeuib;
}

.bg-warning{
    background:#FFEAD5;
}

/* NOTIF */

.notif-number{
    font-size:60px;
    line-height: 63px;
    font-family:segoeui;
    color:#444;
    text-align:center;
}

/* INCOME */

.income{
    height:100px;
}

.income h1{
    font-size:32px;
    margin-top:20px;
}

.income h1,.income p{
    margin-left:10px;
}

/* CHART */
.charts{
    width:auto;
    height:380px !important;
}

/* COMMENT */

.content-inner ul.comment{
    list-style-type:none;
    margin-left: 0;
}

.content-inner ul.comment li{
    border-bottom: 1px solid #ddd;
    margin-left:0;
    padding-top:10px;
}

.comment-avatar{
    margin-left:0;
}

.comment-avatar img{
    width:35px;
    height:35px;
    float:left;
    margin-right:10px;
}

.comment-name{
    text-align:left;
    font-size:15px;
    font-weight:bold;
}

.comment-name a:hover{
    color:#08C;
}

.comment-date{
    color:#777;
    font-size:11px;
    font-weight: lighter;
}

.comment-date p{
    text-align:left;
}

.comment-content{
    text-align:justify;
    width:auto;
    margin-right:0;
    margin-left:0;
    color: #222;
    font-size:14px;
    line-height:15px;
    font-family: segoeui;
}

/* PROFILE */

.account-settings{
    width:135px;
    border: 1px solid #CCC;
    border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -webkit-border-radius:3px;
    height:140px;
    margin: auto auto;
    padding:5px;
}

.account-settings img{
    width:100%;
    height:100%;
}

.content-settings{
    width:auto;
    min-height:150px;
    margin: auto auto;
}

/* ITEM */

.item-img{
    width:180px;
    height:180px;
    padding:5px;
    border:1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.item-img img{
    width:100%;
    height:100%;
    display:block;
}